section {
  overflow: hidden;
  background-color: #cccc99;
}

body {
  font-family: helvatica, sans-serif;
}

h1 {
  background-color: green;
}

h2 {
  background-color: #990033;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

h3:hover {
  background-color: #99cc99;
  color: #993300;
}

p:hover {
  background-color: #990033;
  color: #cccc99;
}

#grid-floats li:nth-child(1) {
  width: calc(50% - 20px);
  background-color: #ffcf79;
  float: left;
}

@media (max-width: 479px) {
  #grid-floats li:nth-child(1) {
    background-color: #cccc00;
    width: calc(100% - 20px);
  }
}

#grid-floats li:nth-child(2) {
  width: calc(25% - 20px);
  background-color: #e5e4d7;
  float: left;
}

@media (max-width: 1024px) {
  #grid-floats li:nth-child(2) {
    background-color: #e5e4d7;
    width: calc(50% - 20px);
  }
}

@media (max-width: 479px) {
  #grid-floats li:nth-child(2) {
    background-color: #cdb99c;
  }
}

#grid-floats li:nth-child(3) {
  background-color: #e5e4d7;
}
@media (min-width: 479px) and (max-width: 1024px) {
  #grid-floats li:nth-child(3) {
    background-color: #ccffcc;
  }
}

@media (max-width: 479px) {
  #grid-floats li:nth-child(3) {
    background-color: #cdb99c;
  }
}

.grid-item {
  padding: 1%;
  width: calc(25% - 20px);
  margin: 10px;
  background-color: #f6e7d2;
  box-sizing: border-box;
  height: 500px;
}

#grid-floats .grid-item {
  float: left;
}

@media (min-width: 480px) and (max-width: 1024px) {
  #grid-floats .grid-item {
    background-color: #ccffcc;
    width: calc(33% - 20px);
  }
}

@media (max-width: 479px) {
  #grid-floats .grid-item {
    background-color: #cdb99c;
    width: calc(50% - 20px);
  }
}

#grid-flex {
  display: flex;
  flex-flow: row wrap;
}

#grid-flex li:nth-child(1) {
  width: calc(50% - 20px);
  background-color: #ff6600;
}

@media (max-width: 479px) {
  #grid-flex li:nth-child(1) {
    background-color: #ccff33;
    width: calc(100% - 20px);
  }
}
#grid-flex li:nth-child(2) {
  width: calc(25% - 20px);
  background-color: #cccccc;
}

@media (max-width: 1024px) {
  #grid-flex li:nth-child(2) {
    background-color: yellow;
    width: calc(50% - 20px);
  }
}
@media (max-width: 479px) {
  #grid-flex li:nth-child(2) {
    background-color: #f3efe0;
  }
}
#grid-flex li:nth-child(3) {
  background-color: #cccccc;
}

@media (min-width: 479px) and (max-width: 1024px) {
  #grid-flex li:nth-child(3) {
    background-color: #66ccff;
  }
}

@media (max-width: 479px) {
  #grid-flex li:nth-child(3) {
    background-color: #f3efe0;
  }
}

#grid-flex .grid-item {
  background-color: #ddd;
}

@media (min-width: 480px) and (max-width: 1024px) {
  #grid-flex .grid-item {
    background-color: #66ccff;
    width: calc(33% - 20px);
  }
}

@media (max-width: 479px) {
  #grid-flex .grid-item {
    background-color: #f3efe0;
    width: calc(50% - 20px);
  }
}

@media (max-width: 479px) {
  html {
    font-size: 70%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 85%;
  }
}

#grid-floats li:nth-child(1),
#grid-flex li:nth-child(1) {
  border: 10px solid gray;
  animation: myanim 3s infinite;
}
@keyframes myanim {
  20% {
    border-color: red;
  }
}

img {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
